
<div id="friend_requests">
  <% if current_dog.pending_pals != [] %>
    <% current_dog.pending_pals.each do |pal| %>
      <%= pal.name %>  <%= button_to "accept", add_friend_path(pal.id) %> <%= button_to "reject", reject_friend_path(pal.id) %>
    <% end %>
  <% else %>
  <div class="instruction">
    <h3>Welcome to Pupular!</h3>
    <p> To start searching and requesting puppy pals,<br>
     touch the magnifying glass in the top right corner</p>
  </div>
  <% end %>
</div>


<div id="current_events"> 
  <% if @events != [] %>
  Upcoming Events:<br>
    <% @events.each do |x| %>
      <%= link_to x.title, dog_event_path(current_dog,x.id) %><br>
    <% end %>
  <% else%>
  <div class="instructions">
    <p>To create a hangout or walk,<br>
     touch the paw button below</p>
  </div>
  <% end %>
</div>
