<div id="friend_requests">
 <%= link_to "Add Friend", add_friend_path(3)%>
</div>

<div id="current_events">
  Upcoming Events:<br>
  <% @events.each do |x| %>
  <%= link_to x.title, dog_event_path(current_dog,x.id) %><br>
  <% end %>
</div>
