
<div id="friend_requests">
   <% current_dog.pending_pals.each do |pal| %>
  <%= pal.name %>  <%= button_to "accept", add_friend_path(pal.id) %> <%= button_to "reject", reject_friend_path(pal.id) %>
  <% end %>
</div>


<div id="current_events">
  Upcoming Events:<br>
  <% @events.each do |x| %>
  <%= link_to x.title, dog_event_path(current_dog,x.id) %><br>
  <% end %>
</div>
