
<table id="search_item">
<% @dogs.each do |dog| %>
<tr>
<% if dog.profile %>
<td><%= image_tag dog.profile.image_url(:search) if dog.profile.image? %></td>
<% else %>
<td></td>
<% end %></%>
<td><%= link_to "#{dog.name}", dog_path(dog) %></td>
<td style="text-align:right" id="#{dog.id}">
       <% if @sent_requests.include?(dog.username)%>
       SENT
       <% elsif @friends.include?(dog.username) %>
       FRIEND
       <% else %>
       <% if dog != current_dog %>
        <%= link_to "+", friend_request_path(dog.id), class: "add_friend_button", id: dog.id %>
       <% end %>
       <% end %>
<td>
</tr>
<% end %>
</table>
