
<table id="search_item">
<% @dogs.each do |dog| %>
<tr>
<% if dog.profile %>
<td><%= image_tag dog.profile.image_url(:thumb) if dog.profile.image? %></td>
<% else %>
<td></td>
<% end %>
<td><%= link_to "#{dog.name}", dog_path(dog) %></td>
<td><%= button_to "+", friend_request_path(dog.id), class: "button" %></td>
</tr>
<% end %>
</table>
