<div id="landing_page">
<table>
<tr>
<td><%= link_to '', new_session_path, {class: "landing_link", id: "sign_in"} %></td>
<td><%= link_to '', new_dog_path, {class: "landing_link", id: "sign_up"} %></td>
</tr>
<tr>
<td>Sign In</td>
<td>Sign Up</td>
</tr>
</table>
</div>
