<h1>Pupular</h1>
<table>
<tr>
<td><%= link_to '', new_session_path, class: "landing_link" %></td>
<td><%= link_to '', new_dog_path, class: "landing_link" %></td>
</tr>
<tr>
<td>Sign In</td>
<td>Sign Up</td>
</tr>
</table>