/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require jquery.ui.all
 *= require_tree .
 */

 html {
  height:100%;
 }

 body {
  padding:0px;
  margin:0px;
  font-family:arial;
  text-align:center;
    font-size:30px;
    height:100%;
 }

 form {line-height:50px;}

 input,textarea {padding:20px;font-size:30px;width:80%;}
textarea {height:10%;}


.container {
  margin:auto;
  width:80%;
  text-align:left;
  height:150%;
  padding-top:150px;
  padding-bottom:50px;
}
