// Place all the styles related to the Dog controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.add_friend_button {
  float:right;
  background-color:#41db00;
  border-radius:20px;
  line-height:20px;
  font-size:30px;
  color:white;
  font-weight:bold;
}


