

.bottom_nav_bar{
  position: fixed;
  bottom: 0;
  height: 150px;
  width: 100%;

}

.bottom_nav_bar ul {
  margin:0px;
  padding:0px;
  text-decoration:none;
}

.bottom_nav_bar ul li {
  display:inline-block;
  float:left;
  text-align:center;
  line-height:150px;
  width:20%;
  outline:1px solid #360066;
}
.bottom_nav_bar ul li:hover {
  background-color:#360066;
}

.bottom_nav_bar ul li a {
  text-decoration:none;
  font-size:30px;
  display:inline-block;
  width:100%;
  color:white;

}

.bottom_nav_bar ul li img {
  margin-top:15%;
  opacity:.4;
}

.top_nav_bar{
  position: fixed;
  top: 0;
  height: 100px;
  z-index:500;
  width: 100%;
  color:white;
  line-height:100px;
}

#top_br_sch{
  clear:none;
  background-color:#430094;
    /* IE10 Consumer Preview */
background-image: -ms-linear-gradient(top, #4E0094 0%, #360066 100%);

/* Mozilla Firefox */
background-image: -moz-linear-gradient(top, #4E0094 0%, #360066 100%);

/* Opera */
background-image: -o-linear-gradient(top, #4E0094 0%, #360066 100%);

/* Webkit (Safari/Chrome 10) */
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #4E0094), color-stop(1, #360066));

/* Webkit (Chrome 11+) */
background-image: -webkit-linear-gradient(top, #4E0094 0%, #360066 100%);

/* W3C Markup, IE10 Release Preview */
background-image: linear-gradient(to bottom, #4E0094 0%, #360066 100%);
  position:absolute;
  height:100px;
  width:100px;
  top:0px;
  right:0px;
}

#top_br_logo{
  text-align:center;
  height:100%;
  margin:auto;
  width:40%;
}

.top_nav_bar {
  background-color:#360066;
}



.walk_or_hangout {
  position:fixed;
  width:50%;
  left:20%;
  top:20%;
  border-radius:25px;
  display:none;
  color:white;
  padding:5%;
  text-align:center;
  box-shadow:0px 0px 10px #474747;
}

button.Walk, button.Hangout {
  width:60%;
  padding: 5% 0;
  font-size: 30px;
}

.bottom_nav_bar, .walk_or_hangout {
  /* IE10 Consumer Preview */
background-image: -ms-linear-gradient(top, #4E0094 0%, #360066 100%);

/* Mozilla Firefox */
background-image: -moz-linear-gradient(top, #4E0094 0%, #360066 100%);

/* Opera */
background-image: -o-linear-gradient(top, #4E0094 0%, #360066 100%);

/* Webkit (Safari/Chrome 10) */
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #4E0094), color-stop(1, #360066));

/* Webkit (Chrome 11+) */
background-image: -webkit-linear-gradient(top, #4E0094 0%, #360066 100%);

/* W3C Markup, IE10 Release Preview */
background-image: linear-gradient(to bottom, #4E0094 0%, #360066 100%);

}

#error_explanation
{
  background-color:#e8e8e8;
  color:red;
  width:80%;
  margin:auto;

}

#error_explanation ul {
  list-style-type:none;
}

