#inboxes{
  width: 100%;
  margin-top: 30px;
  /*margin-bottom: 30px;*/
  text-align: center;
}

#dog_inbox table{
  width: 100%;
}

#show_inbox_div{
  display: inline-block;
  background-color: #B2B2B2;
  /*border: solid 2px;*/
  border-bottom: none;
  border-radius: 5px;
  width: 300px;
  height: 60px;
  a {
    text-decoration: none;
  }
}

#dog_inbox{
  background-color: #B2B2B2;
  border-radius: 10px;
  border: 1px;
}

#dogs_sent_messages {
  background-color: #e8e8e8;
  border-radius: 10px;
  border: 1px;
}



#show_sent_div{
  display: inline-block;
  background-color: #e8e8e8;
  border: solid 2px;
  border-bottom: none;
  border-radius: 5px;
  width: 300px;
  height: 60px;
  a {
    text-decoration: none;
      }

}


#reply {
  width: 100px;
  border: solid 2px;
  text-align: center;
  border-radius: 5px;
  a {
    text-decoration: none;
    color: white;

  }
  background-color: green;

}

#delete{
  width: 100px;
  border: solid 2px;
  text-align: center;
  border-radius: 5px;
  a {
    text-decoration: none;
    color: white;
  }
  background-color: red;
}
