.bottom_nav_bar
  %ul
    %li=link_to "home", doghouse_path, id: "btm_br_home"
    %li=link_to "message", dog_messages_path(current_dog), id: "btm_br_msg"
    %li=link_to "event", new_dog_event_path(current_dog), id: "btm_br_evt"
    %li=link_to "profile", dog_path(current_dog), id: "btm_br_prf"
    %li=link_to "logout", signout_path, id: "btm_br_lgt"
  
